<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao.BizAuthorizationEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model.BizAuthorizationEntity">
    <id column="RIGHTS_ID" jdbcType="VARCHAR" property="rightsId" />
    <result column="RIGHTS_OBJECT" jdbcType="VARCHAR" property="rightsObject" />
    <result column="RIGHTS_TARGET" jdbcType="VARCHAR" property="rightsTarget" />
    <result column="RIGHTS_TYPE" jdbcType="VARCHAR" property="rightsType" />
    <result column="RIGHTS_IDENTITY" jdbcType="VARCHAR" property="rightsIdentity" />
    <result column="RIGHTS_IDENTITY_NAME" jdbcType="VARCHAR" property="rightsIdentityName" />
    <result column="RIGHTS_PERMISSION_CODE" jdbcType="VARCHAR" property="rightsPermissionCode" />
    <result column="RIGHTS_CREATE_TIME" jdbcType="TIMESTAMP" property="rightsCreateTime" />
    <result column="RIGHTS_CREATE_BY" jdbcType="VARCHAR" property="rightsCreateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    RIGHTS_ID, RIGHTS_OBJECT, RIGHTS_TARGET, RIGHTS_TYPE, RIGHTS_IDENTITY, RIGHTS_IDENTITY_NAME, 
    RIGHTS_PERMISSION_CODE, RIGHTS_CREATE_TIME, RIGHTS_CREATE_BY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YMMG_AUTHORIZATION
    where RIGHTS_ID = #{rightsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YMMG_AUTHORIZATION
    where RIGHTS_ID = #{rightsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model.BizAuthorizationEntity">
    insert into YMMG_AUTHORIZATION (RIGHTS_ID, RIGHTS_OBJECT, RIGHTS_TARGET, 
      RIGHTS_TYPE, RIGHTS_IDENTITY, RIGHTS_IDENTITY_NAME, 
      RIGHTS_PERMISSION_CODE, RIGHTS_CREATE_TIME, 
      RIGHTS_CREATE_BY)
    values (#{rightsId,jdbcType=VARCHAR}, #{rightsObject,jdbcType=VARCHAR}, #{rightsTarget,jdbcType=VARCHAR}, 
      #{rightsType,jdbcType=VARCHAR}, #{rightsIdentity,jdbcType=VARCHAR}, #{rightsIdentityName,jdbcType=VARCHAR}, 
      #{rightsPermissionCode,jdbcType=VARCHAR}, #{rightsCreateTime,jdbcType=TIMESTAMP}, 
      #{rightsCreateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model.BizAuthorizationEntity">
    insert into YMMG_AUTHORIZATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rightsId != null">
        RIGHTS_ID,
      </if>
      <if test="rightsObject != null">
        RIGHTS_OBJECT,
      </if>
      <if test="rightsTarget != null">
        RIGHTS_TARGET,
      </if>
      <if test="rightsType != null">
        RIGHTS_TYPE,
      </if>
      <if test="rightsIdentity != null">
        RIGHTS_IDENTITY,
      </if>
      <if test="rightsIdentityName != null">
        RIGHTS_IDENTITY_NAME,
      </if>
      <if test="rightsPermissionCode != null">
        RIGHTS_PERMISSION_CODE,
      </if>
      <if test="rightsCreateTime != null">
        RIGHTS_CREATE_TIME,
      </if>
      <if test="rightsCreateBy != null">
        RIGHTS_CREATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rightsId != null">
        #{rightsId,jdbcType=VARCHAR},
      </if>
      <if test="rightsObject != null">
        #{rightsObject,jdbcType=VARCHAR},
      </if>
      <if test="rightsTarget != null">
        #{rightsTarget,jdbcType=VARCHAR},
      </if>
      <if test="rightsType != null">
        #{rightsType,jdbcType=VARCHAR},
      </if>
      <if test="rightsIdentity != null">
        #{rightsIdentity,jdbcType=VARCHAR},
      </if>
      <if test="rightsIdentityName != null">
        #{rightsIdentityName,jdbcType=VARCHAR},
      </if>
      <if test="rightsPermissionCode != null">
        #{rightsPermissionCode,jdbcType=VARCHAR},
      </if>
      <if test="rightsCreateTime != null">
        #{rightsCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rightsCreateBy != null">
        #{rightsCreateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model.BizAuthorizationEntity">
    update YMMG_AUTHORIZATION
    <set>
      <if test="rightsObject != null">
        RIGHTS_OBJECT = #{rightsObject,jdbcType=VARCHAR},
      </if>
      <if test="rightsTarget != null">
        RIGHTS_TARGET = #{rightsTarget,jdbcType=VARCHAR},
      </if>
      <if test="rightsType != null">
        RIGHTS_TYPE = #{rightsType,jdbcType=VARCHAR},
      </if>
      <if test="rightsIdentity != null">
        RIGHTS_IDENTITY = #{rightsIdentity,jdbcType=VARCHAR},
      </if>
      <if test="rightsIdentityName != null">
        RIGHTS_IDENTITY_NAME = #{rightsIdentityName,jdbcType=VARCHAR},
      </if>
      <if test="rightsPermissionCode != null">
        RIGHTS_PERMISSION_CODE = #{rightsPermissionCode,jdbcType=VARCHAR},
      </if>
      <if test="rightsCreateTime != null">
        RIGHTS_CREATE_TIME = #{rightsCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rightsCreateBy != null">
        RIGHTS_CREATE_BY = #{rightsCreateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where RIGHTS_ID = #{rightsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model.BizAuthorizationEntity">
    update YMMG_AUTHORIZATION
    set RIGHTS_OBJECT = #{rightsObject,jdbcType=VARCHAR},
      RIGHTS_TARGET = #{rightsTarget,jdbcType=VARCHAR},
      RIGHTS_TYPE = #{rightsType,jdbcType=VARCHAR},
      RIGHTS_IDENTITY = #{rightsIdentity,jdbcType=VARCHAR},
      RIGHTS_IDENTITY_NAME = #{rightsIdentityName,jdbcType=VARCHAR},
      RIGHTS_PERMISSION_CODE = #{rightsPermissionCode,jdbcType=VARCHAR},
      RIGHTS_CREATE_TIME = #{rightsCreateTime,jdbcType=TIMESTAMP},
      RIGHTS_CREATE_BY = #{rightsCreateBy,jdbcType=VARCHAR}
    where RIGHTS_ID = #{rightsId,jdbcType=VARCHAR}
  </update>
</mapper>