<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao.BizColumnEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model.BizColumnEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TABLE_ID" jdbcType="VARCHAR" property="tableId" />
    <result column="KEY" jdbcType="VARCHAR" property="key" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="LENGTH" jdbcType="DECIMAL" property="length" />
    <result column="IS_DECIMAL" jdbcType="DECIMAL" property="isDecimal" />
    <result column="REQUIRED" jdbcType="DECIMAL" property="required" />
    <result column="IS_PRIMARY" jdbcType="DECIMAL" property="isPrimary" />
    <result column="DEFAULT_VALUE" jdbcType="VARCHAR" property="defaultValue" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TABLE_ID, KEY, NAME, TYPE, LENGTH, IS_DECIMAL, REQUIRED, IS_PRIMARY, DEFAULT_VALUE, 
    COMMENTS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YMMG_BIZ_COLUMN
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YMMG_BIZ_COLUMN
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model.BizColumnEntity">
    insert into YMMG_BIZ_COLUMN (ID, TABLE_ID, KEY, 
      NAME, TYPE, LENGTH, 
      IS_DECIMAL, REQUIRED, IS_PRIMARY, 
      DEFAULT_VALUE, COMMENTS)
    values (#{id,jdbcType=VARCHAR}, #{tableId,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{length,jdbcType=DECIMAL}, 
      #{isDecimal,jdbcType=DECIMAL}, #{required,jdbcType=DECIMAL}, #{isPrimary,jdbcType=DECIMAL}, 
      #{defaultValue,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model.BizColumnEntity">
    insert into YMMG_BIZ_COLUMN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="tableId != null">
        TABLE_ID,
      </if>
      <if test="key != null">
        KEY,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="length != null">
        LENGTH,
      </if>
      <if test="isDecimal != null">
        IS_DECIMAL,
      </if>
      <if test="required != null">
        REQUIRED,
      </if>
      <if test="isPrimary != null">
        IS_PRIMARY,
      </if>
      <if test="defaultValue != null">
        DEFAULT_VALUE,
      </if>
      <if test="comments != null">
        COMMENTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tableId != null">
        #{tableId,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="length != null">
        #{length,jdbcType=DECIMAL},
      </if>
      <if test="isDecimal != null">
        #{isDecimal,jdbcType=DECIMAL},
      </if>
      <if test="required != null">
        #{required,jdbcType=DECIMAL},
      </if>
      <if test="isPrimary != null">
        #{isPrimary,jdbcType=DECIMAL},
      </if>
      <if test="defaultValue != null">
        #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model.BizColumnEntity">
    update YMMG_BIZ_COLUMN
    <set>
      <if test="tableId != null">
        TABLE_ID = #{tableId,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        KEY = #{key,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="length != null">
        LENGTH = #{length,jdbcType=DECIMAL},
      </if>
      <if test="isDecimal != null">
        IS_DECIMAL = #{isDecimal,jdbcType=DECIMAL},
      </if>
      <if test="required != null">
        REQUIRED = #{required,jdbcType=DECIMAL},
      </if>
      <if test="isPrimary != null">
        IS_PRIMARY = #{isPrimary,jdbcType=DECIMAL},
      </if>
      <if test="defaultValue != null">
        DEFAULT_VALUE = #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model.BizColumnEntity">
    update YMMG_BIZ_COLUMN
    set TABLE_ID = #{tableId,jdbcType=VARCHAR},
      KEY = #{key,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      LENGTH = #{length,jdbcType=DECIMAL},
      IS_DECIMAL = #{isDecimal,jdbcType=DECIMAL},
      REQUIRED = #{required,jdbcType=DECIMAL},
      IS_PRIMARY = #{isPrimary,jdbcType=DECIMAL},
      DEFAULT_VALUE = #{defaultValue,jdbcType=VARCHAR},
      COMMENTS = #{comments,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>