<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao.BizColumnControlEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model.BizColumnControlEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="COLUMN_ID" jdbcType="VARCHAR" property="columnId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="CONFIG" jdbcType="VARCHAR" property="config" />
    <result column="VALID_RULE" jdbcType="VARCHAR" property="validRule" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, COLUMN_ID, TYPE, CONFIG, VALID_RULE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YMMG_BIZ_COLUMN_CONTROL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YMMG_BIZ_COLUMN_CONTROL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model.BizColumnControlEntity">
    insert into YMMG_BIZ_COLUMN_CONTROL (ID, COLUMN_ID, TYPE, 
      CONFIG, VALID_RULE)
    values (#{id,jdbcType=VARCHAR}, #{columnId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{config,jdbcType=VARCHAR}, #{validRule,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model.BizColumnControlEntity">
    insert into YMMG_BIZ_COLUMN_CONTROL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="columnId != null">
        COLUMN_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="config != null">
        CONFIG,
      </if>
      <if test="validRule != null">
        VALID_RULE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="columnId != null">
        #{columnId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="config != null">
        #{config,jdbcType=VARCHAR},
      </if>
      <if test="validRule != null">
        #{validRule,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model.BizColumnControlEntity">
    update YMMG_BIZ_COLUMN_CONTROL
    <set>
      <if test="columnId != null">
        COLUMN_ID = #{columnId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="config != null">
        CONFIG = #{config,jdbcType=VARCHAR},
      </if>
      <if test="validRule != null">
        VALID_RULE = #{validRule,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model.BizColumnControlEntity">
    update YMMG_BIZ_COLUMN_CONTROL
    set COLUMN_ID = #{columnId,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      CONFIG = #{config,jdbcType=VARCHAR},
      VALID_RULE = #{validRule,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>