<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao.BizLinkEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model.BizLinkEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <id column="BIZ_CODE" jdbcType="VARCHAR" property="bizCode" />
    <result column="DEF_ID" jdbcType="VARCHAR" property="defId" />
    <result column="INST_ID" jdbcType="VARCHAR" property="instId" />
    <result column="BIZ_ID" jdbcType="VARCHAR" property="bizId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BIZ_CODE, DEF_ID, INST_ID, BIZ_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="org.minxc.emp.model.BizLinkEntityKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YMMG_BPM_BIZ_LINK
    where ID = #{id,jdbcType=VARCHAR}
      and BIZ_CODE = #{bizCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.minxc.emp.model.BizLinkEntityKey">
    delete from YMMG_BPM_BIZ_LINK
    where ID = #{id,jdbcType=VARCHAR}
      and BIZ_CODE = #{bizCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model.BizLinkEntity">
    insert into YMMG_BPM_BIZ_LINK (ID, BIZ_CODE, DEF_ID, 
      INST_ID, BIZ_ID)
    values (#{id,jdbcType=VARCHAR}, #{bizCode,jdbcType=VARCHAR}, #{defId,jdbcType=VARCHAR}, 
      #{instId,jdbcType=VARCHAR}, #{bizId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model.BizLinkEntity">
    insert into YMMG_BPM_BIZ_LINK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="bizCode != null">
        BIZ_CODE,
      </if>
      <if test="defId != null">
        DEF_ID,
      </if>
      <if test="instId != null">
        INST_ID,
      </if>
      <if test="bizId != null">
        BIZ_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bizCode != null">
        #{bizCode,jdbcType=VARCHAR},
      </if>
      <if test="defId != null">
        #{defId,jdbcType=VARCHAR},
      </if>
      <if test="instId != null">
        #{instId,jdbcType=VARCHAR},
      </if>
      <if test="bizId != null">
        #{bizId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model.BizLinkEntity">
    update YMMG_BPM_BIZ_LINK
    <set>
      <if test="defId != null">
        DEF_ID = #{defId,jdbcType=VARCHAR},
      </if>
      <if test="instId != null">
        INST_ID = #{instId,jdbcType=VARCHAR},
      </if>
      <if test="bizId != null">
        BIZ_ID = #{bizId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
      and BIZ_CODE = #{bizCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model.BizLinkEntity">
    update YMMG_BPM_BIZ_LINK
    set DEF_ID = #{defId,jdbcType=VARCHAR},
      INST_ID = #{instId,jdbcType=VARCHAR},
      BIZ_ID = #{bizId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
      and BIZ_CODE = #{bizCode,jdbcType=VARCHAR}
  </update>
</mapper>