<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao. BizTableEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model. BizTableEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="KEY" jdbcType="VARCHAR" property="key" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
    <result column="DATASOURCE_KEY" jdbcType="VARCHAR" property="datasourceKey" />
    <result column="DATASOURCE_NAME" jdbcType="VARCHAR" property="datasourceName" />
    <result column="GROUP_ID" jdbcType="VARCHAR" property="groupId" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="ISEXTERNAL" jdbcType="DECIMAL" property="isexternal" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, KEY, NAME, COMMENTS, DATASOURCE_KEY, DATASOURCE_NAME, GROUP_ID, GROUP_NAME, ISEXTERNAL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YMMG_BIZ_TABLE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YMMG_BIZ_TABLE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model. BizTableEntity">
    insert into YMMG_BIZ_TABLE (ID, KEY, NAME, 
      COMMENTS, DATASOURCE_KEY, DATASOURCE_NAME, 
      GROUP_ID, GROUP_NAME, ISEXTERNAL
      )
    values (#{id,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{comments,jdbcType=VARCHAR}, #{datasourceKey,jdbcType=VARCHAR}, #{datasourceName,jdbcType=VARCHAR}, 
      #{groupId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{isexternal,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model. BizTableEntity">
    insert into YMMG_BIZ_TABLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="key != null">
        KEY,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="comments != null">
        COMMENTS,
      </if>
      <if test="datasourceKey != null">
        DATASOURCE_KEY,
      </if>
      <if test="datasourceName != null">
        DATASOURCE_NAME,
      </if>
      <if test="groupId != null">
        GROUP_ID,
      </if>
      <if test="groupName != null">
        GROUP_NAME,
      </if>
      <if test="isexternal != null">
        ISEXTERNAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="datasourceKey != null">
        #{datasourceKey,jdbcType=VARCHAR},
      </if>
      <if test="datasourceName != null">
        #{datasourceName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="isexternal != null">
        #{isexternal,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model. BizTableEntity">
    update YMMG_BIZ_TABLE
    <set>
      <if test="key != null">
        KEY = #{key,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="datasourceKey != null">
        DATASOURCE_KEY = #{datasourceKey,jdbcType=VARCHAR},
      </if>
      <if test="datasourceName != null">
        DATASOURCE_NAME = #{datasourceName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        GROUP_ID = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="isexternal != null">
        ISEXTERNAL = #{isexternal,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model. BizTableEntity">
    update YMMG_BIZ_TABLE
    set KEY = #{key,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      COMMENTS = #{comments,jdbcType=VARCHAR},
      DATASOURCE_KEY = #{datasourceKey,jdbcType=VARCHAR},
      DATASOURCE_NAME = #{datasourceName,jdbcType=VARCHAR},
      GROUP_ID = #{groupId,jdbcType=VARCHAR},
      GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      ISEXTERNAL = #{isexternal,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>