<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao.BpmInstanceEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model.BpmInstanceEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SUBJECT" jdbcType="VARCHAR" property="subject" />
    <result column="DEF_ID" jdbcType="VARCHAR" property="defId" />
    <result column="ACT_DEF_ID" jdbcType="VARCHAR" property="actDefId" />
    <result column="DEF_KEY" jdbcType="VARCHAR" property="defKey" />
    <result column="DEF_NAME" jdbcType="VARCHAR" property="defName" />
    <result column="BIZ_KEY" jdbcType="VARCHAR" property="bizKey" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="DURATION" jdbcType="DECIMAL" property="duration" />
    <result column="TYPE_ID" jdbcType="VARCHAR" property="typeId" />
    <result column="ACT_INST_ID" jdbcType="VARCHAR" property="actInstId" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_ORG_ID" jdbcType="VARCHAR" property="createOrgId" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="IS_FORMMAL" jdbcType="CHAR" property="isFormmal" />
    <result column="PARENT_INST_ID" jdbcType="VARCHAR" property="parentInstId" />
    <result column="IS_FORBIDDEN" jdbcType="DECIMAL" property="isForbidden" />
    <result column="DATA_MODE" jdbcType="VARCHAR" property="dataMode" />
    <result column="SUPPORT_MOBILE" jdbcType="DECIMAL" property="supportMobile" />
    <result column="SUPER_NODE_ID" jdbcType="VARCHAR" property="superNodeId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SUBJECT, DEF_ID, ACT_DEF_ID, DEF_KEY, DEF_NAME, BIZ_KEY, STATUS, END_TIME, DURATION, 
    TYPE_ID, ACT_INST_ID, CREATE_BY, CREATOR, CREATE_TIME, CREATE_ORG_ID, UPDATE_BY, 
    UPDATE_TIME, IS_FORMMAL, PARENT_INST_ID, IS_FORBIDDEN, DATA_MODE, SUPPORT_MOBILE, 
    SUPER_NODE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YMMG_BPM_INSTANCE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YMMG_BPM_INSTANCE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model.BpmInstanceEntity">
    insert into YMMG_BPM_INSTANCE (ID, SUBJECT, DEF_ID, 
      ACT_DEF_ID, DEF_KEY, DEF_NAME, 
      BIZ_KEY, STATUS, END_TIME, 
      DURATION, TYPE_ID, ACT_INST_ID, 
      CREATE_BY, CREATOR, CREATE_TIME, 
      CREATE_ORG_ID, UPDATE_BY, UPDATE_TIME, 
      IS_FORMMAL, PARENT_INST_ID, IS_FORBIDDEN, 
      DATA_MODE, SUPPORT_MOBILE, SUPER_NODE_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{defId,jdbcType=VARCHAR}, 
      #{actDefId,jdbcType=VARCHAR}, #{defKey,jdbcType=VARCHAR}, #{defName,jdbcType=VARCHAR}, 
      #{bizKey,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{endTime,jdbcType=TIMESTAMP}, 
      #{duration,jdbcType=DECIMAL}, #{typeId,jdbcType=VARCHAR}, #{actInstId,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createOrgId,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isFormmal,jdbcType=CHAR}, #{parentInstId,jdbcType=VARCHAR}, #{isForbidden,jdbcType=DECIMAL}, 
      #{dataMode,jdbcType=VARCHAR}, #{supportMobile,jdbcType=DECIMAL}, #{superNodeId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model.BpmInstanceEntity">
    insert into YMMG_BPM_INSTANCE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="subject != null">
        SUBJECT,
      </if>
      <if test="defId != null">
        DEF_ID,
      </if>
      <if test="actDefId != null">
        ACT_DEF_ID,
      </if>
      <if test="defKey != null">
        DEF_KEY,
      </if>
      <if test="defName != null">
        DEF_NAME,
      </if>
      <if test="bizKey != null">
        BIZ_KEY,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="duration != null">
        DURATION,
      </if>
      <if test="typeId != null">
        TYPE_ID,
      </if>
      <if test="actInstId != null">
        ACT_INST_ID,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createOrgId != null">
        CREATE_ORG_ID,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="isFormmal != null">
        IS_FORMMAL,
      </if>
      <if test="parentInstId != null">
        PARENT_INST_ID,
      </if>
      <if test="isForbidden != null">
        IS_FORBIDDEN,
      </if>
      <if test="dataMode != null">
        DATA_MODE,
      </if>
      <if test="supportMobile != null">
        SUPPORT_MOBILE,
      </if>
      <if test="superNodeId != null">
        SUPER_NODE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="defId != null">
        #{defId,jdbcType=VARCHAR},
      </if>
      <if test="actDefId != null">
        #{actDefId,jdbcType=VARCHAR},
      </if>
      <if test="defKey != null">
        #{defKey,jdbcType=VARCHAR},
      </if>
      <if test="defName != null">
        #{defName,jdbcType=VARCHAR},
      </if>
      <if test="bizKey != null">
        #{bizKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=DECIMAL},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="actInstId != null">
        #{actInstId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOrgId != null">
        #{createOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isFormmal != null">
        #{isFormmal,jdbcType=CHAR},
      </if>
      <if test="parentInstId != null">
        #{parentInstId,jdbcType=VARCHAR},
      </if>
      <if test="isForbidden != null">
        #{isForbidden,jdbcType=DECIMAL},
      </if>
      <if test="dataMode != null">
        #{dataMode,jdbcType=VARCHAR},
      </if>
      <if test="supportMobile != null">
        #{supportMobile,jdbcType=DECIMAL},
      </if>
      <if test="superNodeId != null">
        #{superNodeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model.BpmInstanceEntity">
    update YMMG_BPM_INSTANCE
    <set>
      <if test="subject != null">
        SUBJECT = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="defId != null">
        DEF_ID = #{defId,jdbcType=VARCHAR},
      </if>
      <if test="actDefId != null">
        ACT_DEF_ID = #{actDefId,jdbcType=VARCHAR},
      </if>
      <if test="defKey != null">
        DEF_KEY = #{defKey,jdbcType=VARCHAR},
      </if>
      <if test="defName != null">
        DEF_NAME = #{defName,jdbcType=VARCHAR},
      </if>
      <if test="bizKey != null">
        BIZ_KEY = #{bizKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        DURATION = #{duration,jdbcType=DECIMAL},
      </if>
      <if test="typeId != null">
        TYPE_ID = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="actInstId != null">
        ACT_INST_ID = #{actInstId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOrgId != null">
        CREATE_ORG_ID = #{createOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isFormmal != null">
        IS_FORMMAL = #{isFormmal,jdbcType=CHAR},
      </if>
      <if test="parentInstId != null">
        PARENT_INST_ID = #{parentInstId,jdbcType=VARCHAR},
      </if>
      <if test="isForbidden != null">
        IS_FORBIDDEN = #{isForbidden,jdbcType=DECIMAL},
      </if>
      <if test="dataMode != null">
        DATA_MODE = #{dataMode,jdbcType=VARCHAR},
      </if>
      <if test="supportMobile != null">
        SUPPORT_MOBILE = #{supportMobile,jdbcType=DECIMAL},
      </if>
      <if test="superNodeId != null">
        SUPER_NODE_ID = #{superNodeId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model.BpmInstanceEntity">
    update YMMG_BPM_INSTANCE
    set SUBJECT = #{subject,jdbcType=VARCHAR},
      DEF_ID = #{defId,jdbcType=VARCHAR},
      ACT_DEF_ID = #{actDefId,jdbcType=VARCHAR},
      DEF_KEY = #{defKey,jdbcType=VARCHAR},
      DEF_NAME = #{defName,jdbcType=VARCHAR},
      BIZ_KEY = #{bizKey,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      DURATION = #{duration,jdbcType=DECIMAL},
      TYPE_ID = #{typeId,jdbcType=VARCHAR},
      ACT_INST_ID = #{actInstId,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_ORG_ID = #{createOrgId,jdbcType=VARCHAR},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      IS_FORMMAL = #{isFormmal,jdbcType=CHAR},
      PARENT_INST_ID = #{parentInstId,jdbcType=VARCHAR},
      IS_FORBIDDEN = #{isForbidden,jdbcType=DECIMAL},
      DATA_MODE = #{dataMode,jdbcType=VARCHAR},
      SUPPORT_MOBILE = #{supportMobile,jdbcType=DECIMAL},
      SUPER_NODE_ID = #{superNodeId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>