<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao.BpmReminderHistoryEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model.BpmReminderHistoryEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="INST_ID" jdbcType="VARCHAR" property="instId" />
    <result column="INST_NAME" jdbcType="VARCHAR" property="instName" />
    <result column="NODE_NAME" jdbcType="VARCHAR" property="nodeName" />
    <result column="NODE_ID" jdbcType="VARCHAR" property="nodeId" />
    <result column="EXECUTE_DATE" jdbcType="VARCHAR" property="executeDate" />
    <result column="REMIND_TYPE" jdbcType="VARCHAR" property="remindType" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, INST_ID, INST_NAME, NODE_NAME, NODE_ID, EXECUTE_DATE, REMIND_TYPE, USER_ID, NOTE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YMMG_BPM_REMINDER_HISTORY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YMMG_BPM_REMINDER_HISTORY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model.BpmReminderHistoryEntity">
    insert into YMMG_BPM_REMINDER_HISTORY (ID, INST_ID, INST_NAME, 
      NODE_NAME, NODE_ID, EXECUTE_DATE, 
      REMIND_TYPE, USER_ID, NOTE
      )
    values (#{id,jdbcType=VARCHAR}, #{instId,jdbcType=VARCHAR}, #{instName,jdbcType=VARCHAR}, 
      #{nodeName,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, #{executeDate,jdbcType=VARCHAR}, 
      #{remindType,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model.BpmReminderHistoryEntity">
    insert into YMMG_BPM_REMINDER_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="instId != null">
        INST_ID,
      </if>
      <if test="instName != null">
        INST_NAME,
      </if>
      <if test="nodeName != null">
        NODE_NAME,
      </if>
      <if test="nodeId != null">
        NODE_ID,
      </if>
      <if test="executeDate != null">
        EXECUTE_DATE,
      </if>
      <if test="remindType != null">
        REMIND_TYPE,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="note != null">
        NOTE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="instId != null">
        #{instId,jdbcType=VARCHAR},
      </if>
      <if test="instName != null">
        #{instName,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="executeDate != null">
        #{executeDate,jdbcType=VARCHAR},
      </if>
      <if test="remindType != null">
        #{remindType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model.BpmReminderHistoryEntity">
    update YMMG_BPM_REMINDER_HISTORY
    <set>
      <if test="instId != null">
        INST_ID = #{instId,jdbcType=VARCHAR},
      </if>
      <if test="instName != null">
        INST_NAME = #{instName,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        NODE_ID = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="executeDate != null">
        EXECUTE_DATE = #{executeDate,jdbcType=VARCHAR},
      </if>
      <if test="remindType != null">
        REMIND_TYPE = #{remindType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model.BpmReminderHistoryEntity">
    update YMMG_BPM_REMINDER_HISTORY
    set INST_ID = #{instId,jdbcType=VARCHAR},
      INST_NAME = #{instName,jdbcType=VARCHAR},
      NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      NODE_ID = #{nodeId,jdbcType=VARCHAR},
      EXECUTE_DATE = #{executeDate,jdbcType=VARCHAR},
      REMIND_TYPE = #{remindType,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>