<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao.BpmTaskIdentityLinkEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model.BpmTaskIdentityLinkEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
    <result column="INST_ID" jdbcType="VARCHAR" property="instId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="IDENTITY_NAME" jdbcType="VARCHAR" property="identityName" />
    <result column="IDENTITY_ID" jdbcType="VARCHAR" property="identityId" />
    <result column="PERMISSION_CODE" jdbcType="VARCHAR" property="permissionCode" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TASK_ID, INST_ID, TYPE, IDENTITY_NAME, IDENTITY_ID, PERMISSION_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YMMG_BPM_TASK_IDENTITYLINK
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YMMG_BPM_TASK_IDENTITYLINK
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model.BpmTaskIdentityLinkEntity">
    insert into YMMG_BPM_TASK_IDENTITYLINK (ID, TASK_ID, INST_ID, 
      TYPE, IDENTITY_NAME, IDENTITY_ID, 
      PERMISSION_CODE)
    values (#{id,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{instId,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{identityName,jdbcType=VARCHAR}, #{identityId,jdbcType=VARCHAR}, 
      #{permissionCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model.BpmTaskIdentityLinkEntity">
    insert into YMMG_BPM_TASK_IDENTITYLINK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="taskId != null">
        TASK_ID,
      </if>
      <if test="instId != null">
        INST_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="identityName != null">
        IDENTITY_NAME,
      </if>
      <if test="identityId != null">
        IDENTITY_ID,
      </if>
      <if test="permissionCode != null">
        PERMISSION_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="instId != null">
        #{instId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="identityName != null">
        #{identityName,jdbcType=VARCHAR},
      </if>
      <if test="identityId != null">
        #{identityId,jdbcType=VARCHAR},
      </if>
      <if test="permissionCode != null">
        #{permissionCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model.BpmTaskIdentityLinkEntity">
    update YMMG_BPM_TASK_IDENTITYLINK
    <set>
      <if test="taskId != null">
        TASK_ID = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="instId != null">
        INST_ID = #{instId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="identityName != null">
        IDENTITY_NAME = #{identityName,jdbcType=VARCHAR},
      </if>
      <if test="identityId != null">
        IDENTITY_ID = #{identityId,jdbcType=VARCHAR},
      </if>
      <if test="permissionCode != null">
        PERMISSION_CODE = #{permissionCode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model.BpmTaskIdentityLinkEntity">
    update YMMG_BPM_TASK_IDENTITYLINK
    set TASK_ID = #{taskId,jdbcType=VARCHAR},
      INST_ID = #{instId,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      IDENTITY_NAME = #{identityName,jdbcType=VARCHAR},
      IDENTITY_ID = #{identityId,jdbcType=VARCHAR},
      PERMISSION_CODE = #{permissionCode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>