<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao.GroupUserLinkEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model.GroupUserLinkEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GROUP_ID" jdbcType="VARCHAR" property="groupId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="IS_MASTER" jdbcType="DECIMAL" property="isMaster" />
    <result column="POSITION_ID" jdbcType="VARCHAR" property="positionId" />
    <result column="JOB_ID" jdbcType="VARCHAR" property="jobId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, GROUP_ID, USER_ID, IS_MASTER, POSITION_ID, JOB_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YMMG_GROUP_USER_LINK
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YMMG_GROUP_USER_LINK
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model.GroupUserLinkEntity">
    insert into YMMG_GROUP_USER_LINK (ID, GROUP_ID, USER_ID, 
      IS_MASTER, POSITION_ID, JOB_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{isMaster,jdbcType=DECIMAL}, #{positionId,jdbcType=VARCHAR}, #{jobId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model.GroupUserLinkEntity">
    insert into YMMG_GROUP_USER_LINK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="groupId != null">
        GROUP_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="isMaster != null">
        IS_MASTER,
      </if>
      <if test="positionId != null">
        POSITION_ID,
      </if>
      <if test="jobId != null">
        JOB_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isMaster != null">
        #{isMaster,jdbcType=DECIMAL},
      </if>
      <if test="positionId != null">
        #{positionId,jdbcType=VARCHAR},
      </if>
      <if test="jobId != null">
        #{jobId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model.GroupUserLinkEntity">
    update YMMG_GROUP_USER_LINK
    <set>
      <if test="groupId != null">
        GROUP_ID = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isMaster != null">
        IS_MASTER = #{isMaster,jdbcType=DECIMAL},
      </if>
      <if test="positionId != null">
        POSITION_ID = #{positionId,jdbcType=VARCHAR},
      </if>
      <if test="jobId != null">
        JOB_ID = #{jobId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model.GroupUserLinkEntity">
    update YMMG_GROUP_USER_LINK
    set GROUP_ID = #{groupId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      IS_MASTER = #{isMaster,jdbcType=DECIMAL},
      POSITION_ID = #{positionId,jdbcType=VARCHAR},
      JOB_ID = #{jobId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>