<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao.SystemLogErrorEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model.SystemLogErrorEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="IP" jdbcType="VARCHAR" property="ip" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.minxc.emp.model.SystemLogErrorEntityWithBLOBs">
    <result column="CONTENT" jdbcType="CLOB" property="content" />
    <result column="STACK_TRACE" jdbcType="CLOB" property="stackTrace" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ACCOUNT, IP, URL, CREATE_TIME
  </sql>
  <sql id="Blob_Column_List">
    CONTENT, STACK_TRACE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from YMMG_LOG_ERR
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YMMG_LOG_ERR
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model.SystemLogErrorEntityWithBLOBs">
    insert into YMMG_LOG_ERR (ID, ACCOUNT, IP, 
      URL, CREATE_TIME, CONTENT, 
      STACK_TRACE)
    values (#{id,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=CLOB}, 
      #{stackTrace,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model.SystemLogErrorEntityWithBLOBs">
    insert into YMMG_LOG_ERR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="account != null">
        ACCOUNT,
      </if>
      <if test="ip != null">
        IP,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="stackTrace != null">
        STACK_TRACE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=CLOB},
      </if>
      <if test="stackTrace != null">
        #{stackTrace,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model.SystemLogErrorEntityWithBLOBs">
    update YMMG_LOG_ERR
    <set>
      <if test="account != null">
        ACCOUNT = #{account,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=CLOB},
      </if>
      <if test="stackTrace != null">
        STACK_TRACE = #{stackTrace,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.minxc.emp.model.SystemLogErrorEntityWithBLOBs">
    update YMMG_LOG_ERR
    set ACCOUNT = #{account,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=CLOB},
      STACK_TRACE = #{stackTrace,jdbcType=CLOB}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model.SystemLogErrorEntity">
    update YMMG_LOG_ERR
    set ACCOUNT = #{account,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>