<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao.SystemPropertiesEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model.SystemPropertiesEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ALIAS" jdbcType="VARCHAR" property="alias" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="ENCRYPT" jdbcType="DECIMAL" property="encrypt" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="ENVIRONMENT" jdbcType="VARCHAR" property="environment" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, ALIAS, CATEGORY, VALUE, ENCRYPT, UPDATE_BY, UPDATE_TIME, CREATE_BY, CREATE_TIME, 
    DESCRIPTION, ENVIRONMENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YMMG_PROPERTIES
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YMMG_PROPERTIES
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model.SystemPropertiesEntity">
    insert into YMMG_PROPERTIES (ID, NAME, ALIAS, 
      CATEGORY, VALUE, ENCRYPT, 
      UPDATE_BY, UPDATE_TIME, CREATE_BY, 
      CREATE_TIME, DESCRIPTION, ENVIRONMENT
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, 
      #{category,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{encrypt,jdbcType=DECIMAL}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, #{environment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model.SystemPropertiesEntity">
    insert into YMMG_PROPERTIES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="alias != null">
        ALIAS,
      </if>
      <if test="category != null">
        CATEGORY,
      </if>
      <if test="value != null">
        VALUE,
      </if>
      <if test="encrypt != null">
        ENCRYPT,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="environment != null">
        ENVIRONMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="encrypt != null">
        #{encrypt,jdbcType=DECIMAL},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="environment != null">
        #{environment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model.SystemPropertiesEntity">
    update YMMG_PROPERTIES
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        ALIAS = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        CATEGORY = #{category,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        VALUE = #{value,jdbcType=VARCHAR},
      </if>
      <if test="encrypt != null">
        ENCRYPT = #{encrypt,jdbcType=DECIMAL},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="environment != null">
        ENVIRONMENT = #{environment,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model.SystemPropertiesEntity">
    update YMMG_PROPERTIES
    set NAME = #{name,jdbcType=VARCHAR},
      ALIAS = #{alias,jdbcType=VARCHAR},
      CATEGORY = #{category,jdbcType=VARCHAR},
      VALUE = #{value,jdbcType=VARCHAR},
      ENCRYPT = #{encrypt,jdbcType=DECIMAL},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      ENVIRONMENT = #{environment,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>