<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao.SystemSerialNOEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model.SystemSerialNOEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ALIAS" jdbcType="VARCHAR" property="alias" />
    <result column="RULE" jdbcType="VARCHAR" property="rule" />
    <result column="GEN_TYPE" jdbcType="DECIMAL" property="genType" />
    <result column="NO_LENGTH" jdbcType="DECIMAL" property="noLength" />
    <result column="CUR_DATE" jdbcType="VARCHAR" property="curDate" />
    <result column="INIT_VALUE" jdbcType="DECIMAL" property="initValue" />
    <result column="CUR_VALUE" jdbcType="DECIMAL" property="curValue" />
    <result column="STEP" jdbcType="DECIMAL" property="step" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, ALIAS, RULE, GEN_TYPE, NO_LENGTH, CUR_DATE, INIT_VALUE, CUR_VALUE, STEP
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from YMMG_SERIALNO
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YMMG_SERIALNO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model.SystemSerialNOEntity">
    insert into YMMG_SERIALNO (ID, NAME, ALIAS, 
      RULE, GEN_TYPE, NO_LENGTH, 
      CUR_DATE, INIT_VALUE, CUR_VALUE, 
      STEP)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, 
      #{rule,jdbcType=VARCHAR}, #{genType,jdbcType=DECIMAL}, #{noLength,jdbcType=DECIMAL}, 
      #{curDate,jdbcType=VARCHAR}, #{initValue,jdbcType=DECIMAL}, #{curValue,jdbcType=DECIMAL}, 
      #{step,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model.SystemSerialNOEntity">
    insert into YMMG_SERIALNO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="alias != null">
        ALIAS,
      </if>
      <if test="rule != null">
        RULE,
      </if>
      <if test="genType != null">
        GEN_TYPE,
      </if>
      <if test="noLength != null">
        NO_LENGTH,
      </if>
      <if test="curDate != null">
        CUR_DATE,
      </if>
      <if test="initValue != null">
        INIT_VALUE,
      </if>
      <if test="curValue != null">
        CUR_VALUE,
      </if>
      <if test="step != null">
        STEP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="rule != null">
        #{rule,jdbcType=VARCHAR},
      </if>
      <if test="genType != null">
        #{genType,jdbcType=DECIMAL},
      </if>
      <if test="noLength != null">
        #{noLength,jdbcType=DECIMAL},
      </if>
      <if test="curDate != null">
        #{curDate,jdbcType=VARCHAR},
      </if>
      <if test="initValue != null">
        #{initValue,jdbcType=DECIMAL},
      </if>
      <if test="curValue != null">
        #{curValue,jdbcType=DECIMAL},
      </if>
      <if test="step != null">
        #{step,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model.SystemSerialNOEntity">
    update YMMG_SERIALNO
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        ALIAS = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="rule != null">
        RULE = #{rule,jdbcType=VARCHAR},
      </if>
      <if test="genType != null">
        GEN_TYPE = #{genType,jdbcType=DECIMAL},
      </if>
      <if test="noLength != null">
        NO_LENGTH = #{noLength,jdbcType=DECIMAL},
      </if>
      <if test="curDate != null">
        CUR_DATE = #{curDate,jdbcType=VARCHAR},
      </if>
      <if test="initValue != null">
        INIT_VALUE = #{initValue,jdbcType=DECIMAL},
      </if>
      <if test="curValue != null">
        CUR_VALUE = #{curValue,jdbcType=DECIMAL},
      </if>
      <if test="step != null">
        STEP = #{step,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model.SystemSerialNOEntity">
    update YMMG_SERIALNO
    set NAME = #{name,jdbcType=VARCHAR},
      ALIAS = #{alias,jdbcType=VARCHAR},
      RULE = #{rule,jdbcType=VARCHAR},
      GEN_TYPE = #{genType,jdbcType=DECIMAL},
      NO_LENGTH = #{noLength,jdbcType=DECIMAL},
      CUR_DATE = #{curDate,jdbcType=VARCHAR},
      INIT_VALUE = #{initValue,jdbcType=DECIMAL},
      CUR_VALUE = #{curValue,jdbcType=DECIMAL},
      STEP = #{step,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>