<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao.WorkbenchPanelEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model.WorkbenchPanelEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ALIAS" jdbcType="VARCHAR" property="alias" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="DATA_TYPE" jdbcType="VARCHAR" property="dataType" />
    <result column="DATA_SOURCE" jdbcType="VARCHAR" property="dataSource" />
    <result column="AUTO_REFRESH" jdbcType="DECIMAL" property="autoRefresh" />
    <result column="WIDTH" jdbcType="DECIMAL" property="width" />
    <result column="HEIGHT" jdbcType="DECIMAL" property="height" />
    <result column="MORE_URL" jdbcType="VARCHAR" property="moreUrl" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="DELETE_FLAG" jdbcType="VARCHAR" property="deleteFlag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.minxc.emp.model.WorkbenchPanelEntity">
    <result column="DISPLAY_CONTENT" jdbcType="CLOB" property="displayContent" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ALIAS, NAME, TYPE, DESCRIPTION, DATA_TYPE, DATA_SOURCE, AUTO_REFRESH, WIDTH, 
    HEIGHT, MORE_URL, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY, DELETE_FLAG
  </sql>
  <sql id="Blob_Column_List">
    DISPLAY_CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from YMMG_WORKBENCH_PANEL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YMMG_WORKBENCH_PANEL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model.WorkbenchPanelEntity">
    insert into YMMG_WORKBENCH_PANEL (ID, ALIAS, NAME, 
      TYPE, DESCRIPTION, DATA_TYPE, 
      DATA_SOURCE, AUTO_REFRESH, WIDTH, 
      HEIGHT, MORE_URL, CREATE_TIME, 
      CREATE_BY, UPDATE_TIME, UPDATE_BY, 
      DELETE_FLAG, DISPLAY_CONTENT)
    values (#{id,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, 
      #{dataSource,jdbcType=VARCHAR}, #{autoRefresh,jdbcType=DECIMAL}, #{width,jdbcType=DECIMAL}, 
      #{height,jdbcType=DECIMAL}, #{moreUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{deleteFlag,jdbcType=VARCHAR}, #{displayContent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model.WorkbenchPanelEntity">
    insert into YMMG_WORKBENCH_PANEL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="alias != null">
        ALIAS,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="dataType != null">
        DATA_TYPE,
      </if>
      <if test="dataSource != null">
        DATA_SOURCE,
      </if>
      <if test="autoRefresh != null">
        AUTO_REFRESH,
      </if>
      <if test="width != null">
        WIDTH,
      </if>
      <if test="height != null">
        HEIGHT,
      </if>
      <if test="moreUrl != null">
        MORE_URL,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG,
      </if>
      <if test="displayContent != null">
        DISPLAY_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataSource != null">
        #{dataSource,jdbcType=VARCHAR},
      </if>
      <if test="autoRefresh != null">
        #{autoRefresh,jdbcType=DECIMAL},
      </if>
      <if test="width != null">
        #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="moreUrl != null">
        #{moreUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="displayContent != null">
        #{displayContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model.WorkbenchPanelEntity">
    update YMMG_WORKBENCH_PANEL
    <set>
      <if test="alias != null">
        ALIAS = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataSource != null">
        DATA_SOURCE = #{dataSource,jdbcType=VARCHAR},
      </if>
      <if test="autoRefresh != null">
        AUTO_REFRESH = #{autoRefresh,jdbcType=DECIMAL},
      </if>
      <if test="width != null">
        WIDTH = #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        HEIGHT = #{height,jdbcType=DECIMAL},
      </if>
      <if test="moreUrl != null">
        MORE_URL = #{moreUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="displayContent != null">
        DISPLAY_CONTENT = #{displayContent,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.minxc.emp.model.WorkbenchPanelEntity">
    update YMMG_WORKBENCH_PANEL
    set ALIAS = #{alias,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      DATA_SOURCE = #{dataSource,jdbcType=VARCHAR},
      AUTO_REFRESH = #{autoRefresh,jdbcType=DECIMAL},
      WIDTH = #{width,jdbcType=DECIMAL},
      HEIGHT = #{height,jdbcType=DECIMAL},
      MORE_URL = #{moreUrl,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR},
      DISPLAY_CONTENT = #{displayContent,jdbcType=CLOB}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model.WorkbenchPanelEntity">
    update YMMG_WORKBENCH_PANEL
    set ALIAS = #{alias,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      DATA_SOURCE = #{dataSource,jdbcType=VARCHAR},
      AUTO_REFRESH = #{autoRefresh,jdbcType=DECIMAL},
      WIDTH = #{width,jdbcType=DECIMAL},
      HEIGHT = #{height,jdbcType=DECIMAL},
      MORE_URL = #{moreUrl,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>