<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.system.impl.dao.ResourceRoleLinkDao">

    <resultMap id="ResRole" type="org.minxc.emp.system.impl.model.RoleResouceLinkEntity">
       	<id column="ID" jdbcType="VARCHAR" property="id" />
      	<result column="APPLICATION_ID" jdbcType="VARCHAR" property="applicationId" />
	    <result column="RES_ID" jdbcType="VARCHAR" property="resId" />
	    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
	    <result property="roleAlias" column="ROLEALIAS" jdbcType="VARCHAR"/>
        <result property="url" column="URL" jdbcType="VARCHAR"/>
        <result property="resAlias" column="RESALIAS" jdbcType="VARCHAR"/>
    </resultMap>

	<sql id="Base_Column_List">
   	 	ID, APPLICATION_ID, RES_ID, ROLE_ID
  	</sql>
    <insert id="create" parameterType="org.minxc.emp.system.impl.model.RoleResouceLinkEntity">
		INSERT INTO YMMG_ROLE_RESOURCE_LINK
		 <include refid="Base_Column_List" />
		VALUES 
		(#{id,jdbcType=VARCHAR}, #{applicationId,jdbcType=VARCHAR}, #{resId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
	</insert>

    <select id="get" parameterType="java.lang.String" resultMap="ResRole">
		SELECT 
		 	<include refid="Base_Column_List" />
		FROM YMMG_ROLE_RESOURCE_LINK 
			WHERE 
				ID=#{id}
	</select>

    <select id="getByRoleId" parameterType="java.lang.String" resultMap="ResRole">
		SELECT 
		 <include refid="Base_Column_List" />
			FROM YMMG_ROLE_RESOURCE_LINK 
		WHERE 
			ROLE_ID=#{roleId}
	</select>

    <select id="query" parameterType="java.util.Map" resultMap="ResRole">
        SELECT 
		 <include refid="Base_Column_List" />
		FROM YMMG_ROLE_RESOURCE_LINK 
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY ID  DESC
        </if>
    </select>

    <update id="update" parameterType="org.minxc.emp.system.impl.model.RoleResouceLinkEntity">
		UPDATE YMMG_ROLE_RESOURCE_LINK
		   SET SYSTEM_ID = #{systemId,jdbcType  = VARCHAR},
		       RES_ID    = #{resId, jdbcType  = VARCHAR},
		       ROLE_ID   = #{roleId,jdbcType  = VARCHAR}
		 WHERE ID = #{id}
	</update>

    <delete id="remove" parameterType="java.lang.String">
		DELETE FROM YMMG_ROLE_RESOURCE_LINK 
			WHERE
		  ID=#{id}
	</delete>

    <delete id="deleteByRoleAndApplicationId" parameterType="java.util.Map">
		DELETE FROM YMMG_ROLE_RESOURCE_LINK
		 WHERE ROLE_ID = #{roleId}
		   AND SYSTEM_ID = #{systemId}
	</delete>

	
    <select id="getResRoleByApplicationId" parameterType="java.lang.String" resultMap="ResRole">
      	SELECT A.ALIAS RESALIAS, C.ALIAS ROLEALIAS, A.DEFAULT_URL URL
		  FROM YMMG_RESOURCE A, YMMG_ROLE_RESOURCE_LINK B, YMMG_ROLE C
		 WHERE A.APPLICATION_ID = #{applicationId}
		   AND A.ID = B.RES_ID
		   AND B.ROLE_ID = C.ID
		   AND C.ENABLED = '1'
	</select>

    <select id="getUrlRoleByApplicationId" parameterType="java.lang.String" resultMap="ResRole">
		SELECT A.RES_URL URL, C.ALIAS ROLEALIAS
		  FROM YMMG_RESOURCE_LINK A, YMMG_ROLE_RESOURCE_LINK B, YMMG_ROLE C
		 WHERE B.APPLICATION_ID = #{applicationId}
		   AND A.RES_ID = B.RES_ID
		   AND B.ROLE_ID = C.ID
		   AND C.ENABLED = '1'
	</select>
</mapper>