<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.minxc.emp.dao.FormCustomDialogEntityMapper">
  <resultMap id="BaseResultMap" type="org.minxc.emp.model.FormCustomDialogEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="KEY" jdbcType="VARCHAR" property="key" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="STYLE" jdbcType="VARCHAR" property="style" />
    <result column="DATASOURCE_KEY" jdbcType="VARCHAR" property="datasourceKey" />
    <result column="DATASOURCE_NAME" jdbcType="VARCHAR" property="datasourceName" />
    <result column="OBJ_TYPE" jdbcType="VARCHAR" property="objType" />
    <result column="OBJ_NAME" jdbcType="VARCHAR" property="objName" />
    <result column="PAGE" jdbcType="DECIMAL" property="page" />
    <result column="PAGE_SIZE" jdbcType="DECIMAL" property="pageSize" />
    <result column="WIDTH" jdbcType="DECIMAL" property="width" />
    <result column="HEIGHT" jdbcType="DECIMAL" property="height" />
    <result column="IS_SYSTEM" jdbcType="DECIMAL" property="isSystem" />
    <result column="MULTIPLE" jdbcType="DECIMAL" property="multiple" />
    <result column="TREE_CONFIG_JSON" jdbcType="VARCHAR" property="treeConfigJson" />
    <result column="DATA_SOURCE_FROM" jdbcType="VARCHAR" property="dataSourceFrom" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.minxc.emp.model.FormCustomDialogEntityWithBLOBs">
    <result column="DISPLAY_FIELDS_JSON" jdbcType="CLOB" property="displayFieldsJson" />
    <result column="CONDITION_FIELDS_JSON" jdbcType="CLOB" property="conditionFieldsJson" />
    <result column="RETURN_FIELDS_JSON" jdbcType="CLOB" property="returnFieldsJson" />
    <result column="SORT_FIELDS_JSON" jdbcType="CLOB" property="sortFieldsJson" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, KEY, NAME, DESCRIPTION, STYLE, DATASOURCE_KEY, DATASOURCE_NAME, OBJ_TYPE, OBJ_NAME, 
    PAGE, PAGE_SIZE, WIDTH, HEIGHT, IS_SYSTEM, MULTIPLE, TREE_CONFIG_JSON, DATA_SOURCE_FROM
  </sql>
  <sql id="Blob_Column_List">
    DISPLAY_FIELDS_JSON, CONDITION_FIELDS_JSON, RETURN_FIELDS_JSON, SORT_FIELDS_JSON
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from YMMG_FORM_CUST_DIALOG
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from YMMG_FORM_CUST_DIALOG
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.minxc.emp.model.FormCustomDialogEntityWithBLOBs">
    insert into YMMG_FORM_CUST_DIALOG (ID, KEY, NAME, 
      DESCRIPTION, STYLE, DATASOURCE_KEY, 
      DATASOURCE_NAME, OBJ_TYPE, OBJ_NAME, 
      PAGE, PAGE_SIZE, WIDTH, 
      HEIGHT, IS_SYSTEM, MULTIPLE, 
      TREE_CONFIG_JSON, DATA_SOURCE_FROM, DISPLAY_FIELDS_JSON, 
      CONDITION_FIELDS_JSON, RETURN_FIELDS_JSON, SORT_FIELDS_JSON
      )
    values (#{id,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{style,jdbcType=VARCHAR}, #{datasourceKey,jdbcType=VARCHAR}, 
      #{datasourceName,jdbcType=VARCHAR}, #{objType,jdbcType=VARCHAR}, #{objName,jdbcType=VARCHAR}, 
      #{page,jdbcType=DECIMAL}, #{pageSize,jdbcType=DECIMAL}, #{width,jdbcType=DECIMAL}, 
      #{height,jdbcType=DECIMAL}, #{isSystem,jdbcType=DECIMAL}, #{multiple,jdbcType=DECIMAL}, 
      #{treeConfigJson,jdbcType=VARCHAR}, #{dataSourceFrom,jdbcType=VARCHAR}, #{displayFieldsJson,jdbcType=CLOB}, 
      #{conditionFieldsJson,jdbcType=CLOB}, #{returnFieldsJson,jdbcType=CLOB}, #{sortFieldsJson,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.minxc.emp.model.FormCustomDialogEntityWithBLOBs">
    insert into YMMG_FORM_CUST_DIALOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="key != null">
        KEY,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="style != null">
        STYLE,
      </if>
      <if test="datasourceKey != null">
        DATASOURCE_KEY,
      </if>
      <if test="datasourceName != null">
        DATASOURCE_NAME,
      </if>
      <if test="objType != null">
        OBJ_TYPE,
      </if>
      <if test="objName != null">
        OBJ_NAME,
      </if>
      <if test="page != null">
        PAGE,
      </if>
      <if test="pageSize != null">
        PAGE_SIZE,
      </if>
      <if test="width != null">
        WIDTH,
      </if>
      <if test="height != null">
        HEIGHT,
      </if>
      <if test="isSystem != null">
        IS_SYSTEM,
      </if>
      <if test="multiple != null">
        MULTIPLE,
      </if>
      <if test="treeConfigJson != null">
        TREE_CONFIG_JSON,
      </if>
      <if test="dataSourceFrom != null">
        DATA_SOURCE_FROM,
      </if>
      <if test="displayFieldsJson != null">
        DISPLAY_FIELDS_JSON,
      </if>
      <if test="conditionFieldsJson != null">
        CONDITION_FIELDS_JSON,
      </if>
      <if test="returnFieldsJson != null">
        RETURN_FIELDS_JSON,
      </if>
      <if test="sortFieldsJson != null">
        SORT_FIELDS_JSON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="style != null">
        #{style,jdbcType=VARCHAR},
      </if>
      <if test="datasourceKey != null">
        #{datasourceKey,jdbcType=VARCHAR},
      </if>
      <if test="datasourceName != null">
        #{datasourceName,jdbcType=VARCHAR},
      </if>
      <if test="objType != null">
        #{objType,jdbcType=VARCHAR},
      </if>
      <if test="objName != null">
        #{objName,jdbcType=VARCHAR},
      </if>
      <if test="page != null">
        #{page,jdbcType=DECIMAL},
      </if>
      <if test="pageSize != null">
        #{pageSize,jdbcType=DECIMAL},
      </if>
      <if test="width != null">
        #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="isSystem != null">
        #{isSystem,jdbcType=DECIMAL},
      </if>
      <if test="multiple != null">
        #{multiple,jdbcType=DECIMAL},
      </if>
      <if test="treeConfigJson != null">
        #{treeConfigJson,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceFrom != null">
        #{dataSourceFrom,jdbcType=VARCHAR},
      </if>
      <if test="displayFieldsJson != null">
        #{displayFieldsJson,jdbcType=CLOB},
      </if>
      <if test="conditionFieldsJson != null">
        #{conditionFieldsJson,jdbcType=CLOB},
      </if>
      <if test="returnFieldsJson != null">
        #{returnFieldsJson,jdbcType=CLOB},
      </if>
      <if test="sortFieldsJson != null">
        #{sortFieldsJson,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.minxc.emp.model.FormCustomDialogEntityWithBLOBs">
    update YMMG_FORM_CUST_DIALOG
    <set>
      <if test="key != null">
        KEY = #{key,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="style != null">
        STYLE = #{style,jdbcType=VARCHAR},
      </if>
      <if test="datasourceKey != null">
        DATASOURCE_KEY = #{datasourceKey,jdbcType=VARCHAR},
      </if>
      <if test="datasourceName != null">
        DATASOURCE_NAME = #{datasourceName,jdbcType=VARCHAR},
      </if>
      <if test="objType != null">
        OBJ_TYPE = #{objType,jdbcType=VARCHAR},
      </if>
      <if test="objName != null">
        OBJ_NAME = #{objName,jdbcType=VARCHAR},
      </if>
      <if test="page != null">
        PAGE = #{page,jdbcType=DECIMAL},
      </if>
      <if test="pageSize != null">
        PAGE_SIZE = #{pageSize,jdbcType=DECIMAL},
      </if>
      <if test="width != null">
        WIDTH = #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        HEIGHT = #{height,jdbcType=DECIMAL},
      </if>
      <if test="isSystem != null">
        IS_SYSTEM = #{isSystem,jdbcType=DECIMAL},
      </if>
      <if test="multiple != null">
        MULTIPLE = #{multiple,jdbcType=DECIMAL},
      </if>
      <if test="treeConfigJson != null">
        TREE_CONFIG_JSON = #{treeConfigJson,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceFrom != null">
        DATA_SOURCE_FROM = #{dataSourceFrom,jdbcType=VARCHAR},
      </if>
      <if test="displayFieldsJson != null">
        DISPLAY_FIELDS_JSON = #{displayFieldsJson,jdbcType=CLOB},
      </if>
      <if test="conditionFieldsJson != null">
        CONDITION_FIELDS_JSON = #{conditionFieldsJson,jdbcType=CLOB},
      </if>
      <if test="returnFieldsJson != null">
        RETURN_FIELDS_JSON = #{returnFieldsJson,jdbcType=CLOB},
      </if>
      <if test="sortFieldsJson != null">
        SORT_FIELDS_JSON = #{sortFieldsJson,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.minxc.emp.model.FormCustomDialogEntityWithBLOBs">
    update YMMG_FORM_CUST_DIALOG
    set KEY = #{key,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      STYLE = #{style,jdbcType=VARCHAR},
      DATASOURCE_KEY = #{datasourceKey,jdbcType=VARCHAR},
      DATASOURCE_NAME = #{datasourceName,jdbcType=VARCHAR},
      OBJ_TYPE = #{objType,jdbcType=VARCHAR},
      OBJ_NAME = #{objName,jdbcType=VARCHAR},
      PAGE = #{page,jdbcType=DECIMAL},
      PAGE_SIZE = #{pageSize,jdbcType=DECIMAL},
      WIDTH = #{width,jdbcType=DECIMAL},
      HEIGHT = #{height,jdbcType=DECIMAL},
      IS_SYSTEM = #{isSystem,jdbcType=DECIMAL},
      MULTIPLE = #{multiple,jdbcType=DECIMAL},
      TREE_CONFIG_JSON = #{treeConfigJson,jdbcType=VARCHAR},
      DATA_SOURCE_FROM = #{dataSourceFrom,jdbcType=VARCHAR},
      DISPLAY_FIELDS_JSON = #{displayFieldsJson,jdbcType=CLOB},
      CONDITION_FIELDS_JSON = #{conditionFieldsJson,jdbcType=CLOB},
      RETURN_FIELDS_JSON = #{returnFieldsJson,jdbcType=CLOB},
      SORT_FIELDS_JSON = #{sortFieldsJson,jdbcType=CLOB}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.minxc.emp.model.FormCustomDialogEntity">
    update YMMG_FORM_CUST_DIALOG
    set KEY = #{key,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      STYLE = #{style,jdbcType=VARCHAR},
      DATASOURCE_KEY = #{datasourceKey,jdbcType=VARCHAR},
      DATASOURCE_NAME = #{datasourceName,jdbcType=VARCHAR},
      OBJ_TYPE = #{objType,jdbcType=VARCHAR},
      OBJ_NAME = #{objName,jdbcType=VARCHAR},
      PAGE = #{page,jdbcType=DECIMAL},
      PAGE_SIZE = #{pageSize,jdbcType=DECIMAL},
      WIDTH = #{width,jdbcType=DECIMAL},
      HEIGHT = #{height,jdbcType=DECIMAL},
      IS_SYSTEM = #{isSystem,jdbcType=DECIMAL},
      MULTIPLE = #{multiple,jdbcType=DECIMAL},
      TREE_CONFIG_JSON = #{treeConfigJson,jdbcType=VARCHAR},
      DATA_SOURCE_FROM = #{dataSourceFrom,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>